name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js 24.10.0
        uses: actions/setup-node@v6
        with:
          node-version: 24.10.0

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Code formatting
        run: yarn prettier

      - name: Code Linting
        run: yarn eslint

      - name: Install Playwright Browsers
        run: yarn playwright install

      - name: Run Playwright tests
        run: yarn e2e

  deploy:
    needs: build-test # needs previous job to be complete before starting this
    if: github.ref == 'refs/heads/main' # Only run if branch is main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js 24.10.0
        uses: actions/setup-node@v6
        with:
          node-version: 24.10.0

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0.0
        with:
          publish-dir: './build'
          production-deploy: true
          deploy-message: ${{ github.event.head_commit.message }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
